---
import MainLayout from "../layouts/MainLayout.astro";
import ContenedorPreguntas from "../components/ContenedorPreguntas.astro";
---

<MainLayout title="Welcome to Astro.">
  <main>
    <ContenedorPreguntas />
  </main>
</MainLayout>

<style>
  * {
    margin: 0;
  }
  html {
    margin: 0;
  }
  main {
    height: 100%;
    flex: 1;
    margin: 0;
  }
</style>
