---
import MainLayout from "../layouts/MainLayout.astro";
import TipoTestMain from "../components/TipoTest/TipoTestMain.astro";
import Pruebatest from "../components/TipoTest/maintest.astro";
---

<MainLayout title="Preguntas Básicas">
  <main>
    <Pruebatest />
  </main>
</MainLayout>

<style>
  * {
    margin: 0;
  }
  html {
    margin: 0;
  }
  main {
    height: 100%;
    flex: 1;
    margin: 0;
  }
</style>
