<header>
  <div>
    <img
      class="logo-header"
      src="https://kinsta.com/wp-content/uploads/2023/05/introduction-to-astro-1024x512.jpg"
      alt="Logo de la app"
    />
    <svg
      class="boton-desplegable"
      id="boton-desplegar-menu"
      height="48px"
      width="48px"
      viewBox="0 -960 960 960"
      fill="#e8eaed"
      ><path
        d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
      ></path></svg
    >
  </div>
  <nav class="barra-navegacion" id="barra-navegacion">
    <button class="boton-navegacion-header" id="boton-desplegar-modos"
      >Modos</button
    >
    <button class="boton-navegacion-header" id="sd">Sobre nosotros</button>
    <button class="boton-navegacion-header" id="sdsds">algo mas</button>
  </nav>
</header>

<div class="deplegable-header" id="desplegable-modos" style="display: none;">
  <a class="botones-modos" href="/">Quiz</a>
  <a class="botones-modos" href="/tipo-test">Test</a>
  <a class="botones-modos" href="#">Cards</a>
</div>

<script>
  import $ from "jquery";

  $(document).ready(function () {
    $("#boton-desplegar-menu").click(function () {
      $("#barra-navegacion").slideToggle("flex");
      $("#barra-navegacion").css("display", "flex");
      console.log("hskhgsdkjg")
      var displayType = $("#desplegable-modos").css("display");
      console.log("displayType");
      console.log(displayType);

      if (displayType === "none") {
        $("#desplegable-modos").css("display", "none");
      } else {
        $("#desplegable-modos").css("display", "none");
      }
    });

    $("#boton-desplegar-modos").click(function () {
      $("#desplegable-modos").slideToggle("flex");
    });

    $("#desplegable-modos").click(function () {
      $("#desplegable-modos").slideToggle("flex");
    });

    $(".botones-modos").click(function () {
      $("#barra-navegacion").css("display", "none");
      $("#desplegable-modos").css("display", "none");
    });
  });
</script>

<style>
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #a7a7a7;
    color: white;
    height: 100px;
    z-index: 5;
  }

  .logo-header {
    height: 80px;
  }

  .boton-desplegable {
    display: none;
  }
  .barra-navegacion {
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-right: 50px;
  }

  .barra-navegacion button {
    color: #000000;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.1s ease-in-out;
    background-color: transparent;
    border: none;
  }

  .barra-navegacion button:hover {
    color: #ffffff;
    cursor: pointer;
  }

  .deplegable-header {
    position: absolute;
    right: 0;
    z-index: 6;
    height: 70px;
    width: 40%;
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    gap: 20px;
    background-color: #a7a7a7;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }

  .botones-modos {
    color: #000000;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.1s ease-in-out;
  }
  .botones-modos:hover {
    color: #ffffff;
  }

  @media screen and (max-width: 768px) {
    header {
      height: 70px;
      display: flex;
      /* flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start; */
    }
    header div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #a7a7a7;
      color: white;
      width: 100%;
      padding: 0 20px;
    }

    .logo-header {
      height: 50px;
    }
    .barra-navegacion {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 20px 0 10px 0;
      width: 100%;
      background-color: #a7a7a7;
    }
    .boton-desplegable {
      display: block;
      margin-right: 10%;
    }

    .deplegable-header {
      position: absolute;
      top: 145px;
      right: auto;
      left: 0;
      z-index: 6;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 20px;
      background-color: #969696;
      align-content: center;
      justify-content: space-evenly;
      align-items: center;
    }
  }
</style>
